{% extends "base.html" %}
{% block head %}
    <title>{{ project.title }}</title>
    <style>
        #gallery {
            margin-top: -20px !important;
        }
        .projectHashtag, .link, .likes, .share {
            text-decoration: none;
            color: #ebe9e8;
            background-color: #8a0000;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
            cursor: pointer;
            display: inline-block;
            margin: 5px 0;
        }
        .buttons {
            margin-top: -15px;
        }
        .projectHashtag {
            background-color: #555;
        }
        .link:hover, .likes:hover, .share:hover {
            background-color: #ad3333;
        }
        .projectHashtag:hover {
            background-color: #777;
        }
        .description {
            margin-bottom: 30px;
        }
        #social {
            display: none;
        }
        #side {
            flex: 1 !important;
        }
        #main {
            flex: 1 !important;
        }
        #updates, #comments {
            padding: 10px 20px;
            background-color: #ebe9e8;
            border-radius: 10px;
            color: #1e1e1e;
            flex: 1 !important;
        }
        #comments {
            flex: 3 !important;
        }
        .timeline {
            list-style: none;
            margin: 0;
            border-left: 2px solid #ccc;
            padding-left: 0;
        }
        .timeline li {
            position: relative;
            margin-bottom: 50px;
            border-left: 2px solid #666;
            padding-left: 10px;
            margin-left: -1px;
        }
        .timeline li i {
            color: #555;
            display: block;
            text-align: right;
            font-size: 0.8rem;
        }
        #commentForm label {
            display: none;
        }
        #commentForm input, #commentForm textarea {
            width: calc(100% - 22px);
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }
        #commentForm textarea {
            margin-top: -15px;
            margin-bottom: -5px;
        }
        #commentButton {
            background-color: #8a0000;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-weight: bold;
        }
        .g-recaptcha {
            float: right;
        }
        #commentButton:hover {
            background-color: #ad3333;
        }
        .commentFlex {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        .comment {
            flex: 1;
            padding: 10px 20px;
            background-color: #d5d5d5;
            border-radius: 10px;
            color: #1e1e1e;
            min-width: 250px;
        }
        .divide {
            border-top: 1px solid #ccc;
            margin-top: 15px;
        }
        .comment i {
            color: #555;
            font-size: 0.8rem;
        }
        .comment p {
            margin-bottom: 7.5px !important;
        }
        .helptext {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nanogallery2@3.0.5/dist/css/nanogallery2.min.css">
{% endblock %}
{% block side %}
    <h1>{{ project.title }}</h1>
    <div class="description">{{ project.description|safe }}</div>
    <div class="buttons">
        {% for tag in project.tags.all %}
            <a class="projectHashtag" href="/tag/{{ tag.name }}">#{{ tag.name }}</a>
        {% endfor %}
        {% if project.link %}
        <a class="link" href="{{ project.link }}" target="_blank"><i class="fa-solid fa-link"></i> Project Link</a>
        {% endif %}
        <a class="share" onclick="navigator.share({title: '{{ project.title }}', text: '{{ project.blurb }}', url: window.location.href});"><i class="fa-solid fa-arrow-up-from-bracket"></i> Share</a>
        <a class="likes"><i class="fa-solid fa-heart"></i> {{ project.likes }}</a>
    </div>
    <br/><br/>
{% endblock %}
{% block content %}
    <h1>Photos</h1>
    <div id="gallery"></div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/nanogallery2@3.0.5/dist/jquery.nanogallery2.min.js"></script>
    <script>
        $('#gallery').nanogallery2({
            items: [
                {% for image in project.images.all %}
                    {src: '{{ image.image.url }}', title: '{{ image.title }}'},
                {% endfor %}
            ],
            galleryDisplayMode: 'pagination',
            thumbnailHeight: '275',
            thumbnailWidth: 'auto',
            thumbnailAlignment: 'fillWidth',
            thumbnailDisplayTransition: 'scaleUp',
            thumbnailHoverEffect2: 'image_scale_1.00_1.15_500_bounce|image_rotateZ_0deg_05deg',
            touchAnimation: true,
            touchAutoOpenDelay: 500,
            thumbnailDisplayTransitionDuration: 400,
            thumbnailDisplayInterval: 200,
            thumbnailDisplayOrder: 'rowByRow',
            thumbnailLazyLoad: true,
            galleryMaxRows: 2,
            paginationVisiblePages: 5,
            locationHash: false,
        });
    </script>
{% endblock %}
{% block bottom %}
    <section id="updates">
        <h1>Project Updates</h1>
        <ul class="timeline">
            {% for update in updates %}
                <li>
                    {{ update.updateDescription }}
                    <br/>
                    <i>{{ update.date|date:"M d, Y" }}</i>
                </li>
            {% empty %}
            <p style="margin-top: 0px">There are currently no updates on this project! Stay tuned 👀</p>
            <style>.timeline {border-left: none;}</style>
            {% endfor %}
        </ul>
    </section>
    <section id="comments">
        <h1>Comments</h1>
        <form method="post" id="commentForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="commentButton">Post Comment</button>
        </form>
        <hr class="divide"/>
        <div class="commentFlex">
            {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.content }}</p>
                <i>—{{ comment.name }} on {{ comment.created_at|date:"M d, Y" }}</i>
            </div>
            {% empty %}
            <p style="margin-top: 0px">There are currently no comments on this project! Be the first to leave a comment!</p>
            {% endfor %}
        </div>
    </section>
    <script>
        $('#commentForm #id_name').attr('placeholder', 'Your name...');
        $('#commentForm #id_content').attr('placeholder', 'Your comment...');
        $('#commentForm #id_content').on('keyup', function(){
            $(this).val($(this).val().replace(/[\r\n\v]+/g, ''));
        });
        let liked = localStorage.getItem('liked_{{ project.id }}');
        $('.likes').on('click', function() {
            if (liked) {
                alert('You have already liked this project!');
                return;
            }
            let likes = parseInt($('.likes').text().match(/\d+/)[0]);
            likes++;
            localStorage.setItem('liked_{{ project.id }}', true);
            liked = true;
            $.ajax({
                url: '/like/',
                type: 'POST',
                data: {project_id: '{{ project.id }}', csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(response) {$('.likes').html('<i class="fa-solid fa-heart"></i> ' + likes);},
                error: function(xhr, status, error) {console.error('Error updating likes:', error);}
            });
        });
    </script>
{% endblock %}