{% extends "base.html" %}
{% block head %}
    <title>{{ tag.name }}</title>
    <style>
        .projectFlex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 10px;
        }
        .project {
            flex: 1;
            min-width: 250px;
            padding: 10px 20px;
            background-color: #d5d5d5;
            border-radius: 10px;
            color: #1e1e1e;
            cursor: pointer;
        }
        .project:hover {
            filter: brightness(0.9);
            animation: buzzy 1s ease-out;
            animation-delay: 1s;
        }
        @keyframes buzzy {
            10% {
                transform: translateX(3px) rotate(2deg);
            }
            20% {
                transform: translateX(-3px) rotate(-2deg);
            }
            30% {
                transform: translateX(3px) rotate(2deg);
            }
            40% {
                transform: translateX(-3px) rotate(-2deg);
            }
            50% {
                transform: translateX(2px) rotate(1deg);
            }
            60% {
                transform: translateX(-2px) rotate(-1deg);
            }
            70% {
                transform: translateX(2px) rotate(1deg);
            }
            80% {
                transform: translateX(-2px) rotate(-1deg);
            }
            90% {
                transform: translateX(1px) rotate(0);
            }
            100% {
                transform: translateX(-1px) rotate(0);
            }
        }
        #social {
            flex: 1 !important;
        }
        #side {
            display: none !important;
        }
        .searchQuery {
            color: #8a0000;
            font-weight: bold;
            font-style: italic;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Searching for projects related to <span class="searchQuery" style="margin-left: -5px">{{ query }}</span></h1>
    <div class="projectFlex">
        {% for project in projects %}
            <div class="project" onclick="window.location.href = '/project/{{ project.title }}'">
                <h3>{{ project.title }}</h3>
                <p>{{ project.blurb }}</p>
                <div class="hashtags">
                    {% for projectTag in project.tags.all %}
                        <span class="hashtag" style="margin-right: -5px">#{{ projectTag.name }}</span>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p style="margin-top: 0px">There are no projects under this search query!</p>
        {% endfor %}
    </div>
    <script>
        let colors = ['#ef9da1', '#f3ecdc', '#9c8bc2', '#c895be', '#8dd3f4', '#8fafd8', '#d6e2a2', '#93cb9c', '#f9cc8d', '#fef59a', '#f29d80', '#f3b386'];
        const projects = document.querySelectorAll('.project');
        projects.forEach((project) => {
            let pickedColor = colors[Math.floor(Math.random() * colors.length)];
            colors.splice(colors.indexOf(pickedColor), 1);
            project.style.backgroundColor = pickedColor;
            if (colors.length === 0) {
                colors = ['#ef9da1', '#f3ecdc', '#9c8bc2', '#c895be', '#8dd3f4', '#8fafd8', '#d6e2a2', '#93cb9c', '#f9cc8d', '#fef59a', '#f29d80', '#f3b386'];
            }
        });
    </script>
{% endblock %}