{% extends "base.html" %}
{% load group_extras %}
{% block title %} Home Page {% endblock %}
{% block content %}
<h1>
    STEM Competition 2026
</h1>
<p>
    This is the general writing for them.
</p>
{% if request.user|has_group:"Judge" or request.user|has_group:"Developer" or request.user|has_group:"Leadership"%}
<a href = "judge/"> Judge Stuff <br> </a>
{% endif %}
{% if request.user|has_group:"Team" or request.user|has_group:"Developer" or request.user|has_group:"Leadership"%}
<a href = "team/"> Team Stuff </a>
{% endif %}
{% endblock %}